* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sweet_purpleregular";
  src: url("../fonts/sweet_purple-webfont.eot");
  src: url("../fonts/sweet_purple-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sweet_purple-webfont.woff2") format("woff2"), url("../fonts/sweet_purple-webfont.woff") format("woff"), url("../fonts/sweet_purple-webfont.ttf") format("truetype"), url("../fonts/sweet_purple-webfont.svg#sweet_purpleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*:not(.logo) {
  font-family: "latoregular", sans-serif;
}

.header {
  background-color: #4db3ad;
}
.header__content {
  display: flex;
  align-items: flex-end;
}
.header__content > .row {
  width: 100%;
}
.header__brand {
  font-size: 1.75rem;
}
.header__brand:hover {
  color: #DDF71D;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav__icon {
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header__nav__list {
  max-width: max-content;
}
.header__nav__list__item {
  color: #fff;
  position: relative;
}
.header__nav__list__item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -8px;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 150ms ease-in-out;
}
.header__nav__list__item:hover {
  color: #fff;
}
.header__nav__list__item:hover::after {
  transform: scaleX(1);
}
.header__nav__list__item.header__nav__list__item--active {
  color: #DDF71D;
}
.header__nav__list__item.header__nav__list__item--active::after {
  background-color: #DDF71D;
}
.header__nav__list__item.header__nav__list__item--active:hover {
  color: #DDF71D;
}

.hero {
  height: 500px;
}
.hero__txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0f2229;
  font-weight: bold;
}

.grid {
  background-color: #4db3ad;
  color: #0f2229;
  height: auto;
}
.grid__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid__title {
  color: #fff;
  width: max-content;
}
.grid__title__txt {
  position: relative;
}
.grid__title__txt::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #fff;
  bottom: -30%;
  left: 0;
}
.grid__item {
  height: 300px;
  border-radius: 2rem;
  border: solid 5px #fff;
  overflow: hidden;
}
.grid__item__pic {
  height: 176.4705882353px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .grid__item__pic {
    height: 200px;
  }
}
.grid__item__pic__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid__item__txt {
  color: #0f2229;
}
@media screen and (max-width: 767px) {
  .grid__item__txt {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.grid__item__txt__name {
  font-family: "sweet_purpleregular", sans-serif;
  font-size: 2.3rem;
}
.grid__item__txt__price {
  font-weight: bold;
}
.grid__item__txt__link {
  color: #4db3ad;
  font-weight: bold;
  text-decoration: none;
}
.grid__item__txt__link:hover {
  cursor: pointer;
  color: #0f2229;
  text-decoration: underline;
}

.tagline {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f2229;
}

.product {
  height: 800px;
}
@media screen and (max-width: 767px) {
  .product {
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product {
    height: auto;
  }
}
.product__content {
  height: 100%;
}
.product__pic {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .product__pic {
    height: 300px;
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product__pic {
    height: 400px;
  }
}
.product__pic__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__txt {
  color: #0f2229;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product__txt {
    display: flex;
    justify-content: space-between;
  }
}
.product__txt__name {
  font-family: "sweet_purpleregular", sans-serif;
  font-size: 4rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product__form__item {
  color: #0f2229;
}
@media screen and (max-width: 767px) {
  .product__btn {
    display: flex;
    justify-content: center;
  }
}

.cart {
  color: #0f2229;
}
.cart__title {
  width: max-content;
}
.cart__title__txt {
  position: relative;
}
.cart__title__txt::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #0f2229;
  bottom: -30%;
  left: 0;
}
.cart__item {
  height: 130px;
  position: relative;
  padding: inherit;
}
.cart__item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background-color: #4db3ad;
  bottom: -8px;
  left: 5%;
}
.cart__item__pic {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}
.cart__item__pic__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buyingForm {
  color: #0f2229;
}
.buyingForm__title {
  width: max-content;
}
.buyingForm__title__txt {
  position: relative;
}
.buyingForm__title__txt::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #0f2229;
  bottom: -40%;
  left: 0;
}
@media screen and (max-width: 767px) {
  .buyingForm__content {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .buyingForm__content {
    display: flex;
    justify-content: center;
  }
}
.buyingForm__btn {
  display: flex;
  justify-content: center;
}

.confirm {
  height: 85vh;
  padding: inherit;
}
.confirm__thanks {
  line-height: 1.8;
}

.footer {
  height: 80px;
  background-color: #4db3ad;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 120px;
  }
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list__item {
  color: #fff;
  text-decoration: none;
}
.footer__list__item:hover {
  color: #0f2229;
  text-decoration: underline;
}

.logo {
  font-family: "sweet_purpleregular", sans-serif;
  color: #DDF71D;
}
.logo.logo--secondary {
  color: #4db3ad;
}
.logo.logo--med {
  font-size: 2rem;
}
.logo.logo--big {
  font-size: 4rem;
}
@media screen and (max-width: 767px) {
  .logo.logo--big {
    font-size: 3rem;
  }
}
.logo.logo--bigger {
  font-size: 7rem;
}

.btn {
  background-color: #4db3ad;
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2e6c68;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: -1;
}
.btn:hover {
  color: #fff;
}
.btn:hover::after {
  opacity: 1;
}
.btn--cross {
  border: none;
  background-color: inherit;
}

.navcart {
  position: relative;
}
.navcart__icon {
  position: absolute;
  top: -5px;
  right: -15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  color: #4db3ad;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navcart__icon {
    top: 0;
    right: 32px;
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
  }
}
.navcart__alert {
  position: absolute;
  bottom: -320%;
  left: -75%;
  color: #0f2229;
  width: 200%;
  font-size: 1rem;
  font-style: normal;
  background-color: #fff;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
