.cart {
    color: $clr-tertiary;
    &__title {
        width: max-content;
        &__txt {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 75%;
                height: 4px;
                background-color: $clr-tertiary;
                bottom: -30%;
                left: 0;
            }    
        }
    }
    &__item {
        height: $cart-item-height;
        position: relative;
        padding: inherit;
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 90%;
            background-color: $clr-secondary;
            bottom: -8px;
            left: 5%;
        }
        &__pic {
            position: relative;
            border-radius: $cart-pic-radius;
            overflow: hidden;    
            &__img {
                @include img-fill-space;
            }
        }
    }
}