.grid {
    background-color: $clr-secondary;
    color: $clr-tertiary;
    height: $grid-height;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }
    &__title {
        color: #fff;
        font-weight: bold;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 10%;
            height: 4px;
            background-color: #fff;
            bottom: -30%;
            left: 0;
        }
    }
    &__item {
        height: $card-height;
        border-radius: $card-radius;
        border: solid 5px #fff;
        overflow: hidden;
        &__pic {
            height: $card-height / 1.7;
            position: relative;
            overflow: hidden;
            @include mobile-only {
                height: 200px;
            }
            &__img {
                @include img-fill-space;
            }
        }
        &__txt {
            color: $clr-tertiary;
            @include mobile-only {
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            &__name {
                @include font(spurple);
                font-size: 2.3rem;
            }
            &__price {
                font-weight: bold;
            }
            &__link {
                color: $clr-secondary;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: $clr-tertiary;
                    text-decoration: underline;
                }
            }
        }
    }
}
