.hero {
    height: $hero-height;
    &__txt {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $clr-tertiary;
        font-weight: bold;
    }
}