.navcart {
    position: relative;
    &__icon {
        position: absolute;
        top: $navcart-icon-pos-top;
        right: $navcart-icon-pos-right;
        width: $navcart-icon-size;
        height: $navcart-icon-size;
        border-radius: 50%;
        background-color: #fff;
        color: $clr-secondary;
        font-style: normal;
        font-weight: bold;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile-only {
            top: 0;
            right: 32px;
            width: $navcart-icon-resp-size;
            height: $navcart-icon-resp-size;
            font-size: .7rem;
        }
        @include tablet-only {
            top: 0;
            right: 32px;
            width: $navcart-icon-resp-size;
            height: $navcart-icon-resp-size;
            font-size: .7rem;
        }
    }
    &__alert {
        position: absolute;
        bottom: -320%;
        left: -75%;
        color: $clr-tertiary;
        width: 200%;
        font-size: 1rem;
        font-style: normal;
        background-color: #fff;
        border-radius: 1rem;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        @include mobile-only {
            top: 99%;
            left: 20%;
            width: 60%;
            height: max-content;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform opacity 300ms ease-in-out;
        }
    }
}