$clr-primary: #DDF71D;
$clr-secondary: #4db3ad;
$clr-tertiary: #0f2229;
$clr-valid: #27be6e;
$clr-invalid: #dc0005;

$light-amount: 40%;

$hdr-height: 80px;

$hero-height: 500px;

$grid-height: auto;
$card-height: 300px;
$card-radius: 2rem;

$tagline-height: 300px;

$pdt-sheet-height: 800px;
$pdt-sheet-img-radius: 2rem;

$cart-item-height: 130px;
$cart-pic-radius: 2rem;

$btn-radius: 1rem;

$confirm-height: 85vh;

$navcart-icon-size: 18px;
$navcart-icon-resp-size: 15px;
$navcart-icon-pos-top: -5px;
$navcart-icon-pos-right: -15px;

$ftr-height: 80px;