* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

input {
    &:valid {
        @include input-state(valid);
    }
    &:invalid {
        @include input-state(invalid);
    }
}