$clr-primary: #DDF71D;
$clr-secondary: #4db3ad;
$clr-tertiary: #0f2229;

$light-amount: 40%;

$hdr-height: 80px;

$hero-height: 500px;

$grid-height: auto;
$card-height: 300px;
$card-radius: 2rem;

$tagline-height: 300px;

$pdt-sheet-height: 800px;
$pdt-sheet-img-radius: 2rem;

$btn-radius: 1rem;

$ftr-height: 80px;